/**
 * Base structure
 */
html, body {
    background-color: #E7E4DB;
    color: #fff;
    /**
     * this helps us to calculate "em" units easier.
     * The default browser agent styles are font-size: 16px;
     * so this makes it 16px*0.625=10px=1em. This means that 1.5em is 15px
     * Also, p { font-size: 1.6rem; } means that all paragraphs are 16px based on * Root * em
     */
    font-size: 62.5%;
    height: 100%;
}

/**
 * Grid elements
 */
.first { padding-left: 0 !important; }
.last { padding-right: 0 !important; }
.gutter-bottom { padding-bottom: 15px; }
.gutter-top { padding-top: 15px; }
.prepend-bottom { margin-bottom: 15px; }
.prepend-top { margin-top: 15px; }

/**
 * Template structure
 */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.content-container {
    margin: 0 auto;
}
.inner {
    padding: 25px;
}

/*
 * Header
 */
.myheader {
    background-color: #333;
    text-align: center;
    width: 100%;
}
.myheader-brand {
    margin: 10px 0;
}
.myheader-nav > li {
    display: inline-block;
}
.myheader-nav > li + li {
    margin-left: 20px;
}
.myheader-nav > li > a {
    border-bottom: 2px solid transparent;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(255,255,255,.75);
    padding-left: 0;
    padding-right: 0;
}
.myheader-nav > li > a:hover,
.myheader-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
}
.myheader-nav > .active > a,
.myheader-nav > .active > a:hover,
.myheader-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

/**
 * Bookcase css
 */
/* Common css */
.bookcase li {
    list-style: none;
}
/* Header css */
.bookcase .shelf > header {
    background-color: #D9D3C5;
    border-bottom: 1px solid #C3BDAA;
    border-top: 1px solid #C3BDAA;
    padding: 5px 0;
    -webkit-box-shadow: -2px 10px 10px 0px #BAB9B2;
       -moz-box-shadow: -2px 10px 10px 0px #BAB9B2;
            box-shadow: -2px 10px 10px 0px #BAB9B2;
}
.bookcase .shelf > header ul { padding-left: 10px; }
.bookcase .shelf > header li {
    border-radius: 5px;
    float: left;
    font-size: 1.4rem;
    padding: 2px 5px;
}
.bookcase .shelf > header li + li { margin-left: 5px; }
/* Bookshelf css */
.bookcase .shelf > section { padding: 50px 0; }
.bookcase .shelf > section li {
    float: left;
    text-align: center;
}
.bookcase .book .cover {
    background-color: #ECF0F1;
    height: 160px;
    width: 120px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bookcase .book .cover i {
    color: #D3D7D8;
    display: inline-block;
    font-size: 4.6rem;
    margin-top: 25%;
}
.bookcase .book .cover .img-responsive {
    margin-left: -20%;
    max-width: 140%;
}
.bookcase .book .cover .genre-indicator {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 0;
    border-bottom-width: 15px;
    border-bottom-style: solid;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.bookcase .book > .info span {
    display: block;
    font-weight: bold;
}
.bookcase .book > .info .title {
    color: #020202;
    font-size: 1.4rem;
}
.bookcase .book > .info .author {
    color: #66767F;
    font-size: 1.3rem;
}
/**
 * Search form
 */
.search-form {
    color: #565656;
    font-size:1.3rem;
}
.search-form button i {
    height: 20px;
    line-height: 18px;
}
div.alert {
    font-size: 1.6rem;
    text-align: center;
}
/**
 * sm devices and higher
 */
@media (min-width: 768px) {
    .myheader {
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .myheader-brand {
        float: left;
    }
    .myheader-nav {
        float: right;
    }

    .site-wrapper-inner {
        padding-top: 96px;
    }
}
/**
 * Popovers
 */
.popover {
    background-color: transparent;
    border-radius: 0;
    min-width: 270px;
}
.popover .popover-content {
    padding: 0;
}
.popover .popover-content header {
    background-color: white;
    height: 75px;
    overflow: hidden;
    position: relative;
}
.popover .popover-content header .info {
    position: absolute;
    top: 15px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.8rem;
    padding: 3px 10px;
    width: 100%;
}
.popover .popover-content header .info > span {
    display: block;
}
.popover .popover-content header .info > .title {
    font-size: 1.6rem;
}
.popover .popover-content header .info > .author {
    font-size: 1.4rem;
}
.popover .popover-content > section {
    background-color: rgba(255,255,255,0.95);
    color: #565656;
    font-size: 1.3rem;
    padding: 15px;
}
.popover .popover-content > section > label {
    display: block;
    font-size: 1.8rem;
    font-weight: normal;
}
.popover .popover-content > section ol {
    padding-left: 15px;
}
.popover .popover-content > section ol li {
    float: inherit;
    font-weight: bold;
    font-size: 1.4rem;
    list-style: inherit;
    text-align: left;
}
.popover .popover-content > section ol li span {
    display: block;
}
.popover .popover-content > section ol li .keywords {
    color: #667780;
    font-weight: normal;
    font-size: 1.3rem;
}
@media (max-width: 992px) {
    .bookcase .book .cover {
        height: 120px;
        width: 90px;
    }
    .bookcase .book .cover .genre-indicator {
        border-left-width: 12px;
        border-bottom-width: 12px;
    }
}
@media (max-width: 768px) {
    .bookcase .book .cover {
        height: 80px;
        width: 60px;
    }
    .bookcase .book .cover .genre-indicator {
        border-left-width: 9px;
        border-bottom-width: 9px;
    }
    .myheader-nav > li.search-form-container {
        display: block;
        float: inherit;
    }
}